html {
    scroll-behavior: smooth;
    /* width: 100vw; */
}

.markdown-section {
    text-align: justify;
}

/* Align the <h1/2/3/4/5/6> elements with the little arrow of the details */
details > summary > h1,
details > summary > h2,
details > summary > h3,
details > summary > h4,
details > summary > h5,
details > summary > h6 {
    display: initial !important;
    margin: 0 !important;
    padding: 0 !important;
    padding-left: 10px !important;
}

/* Align the elements inside <h1/2/3/4/5/6> elements with the little arrow of the details */
details > summary > h1 *,
details > summary > h2 *,
details > summary > h3 *,
details > summary > h4 *,
details > summary > h5 *,
details > summary > h6 * {
    display: initial !important;
    margin: 0 !important;
    padding: 0 !important;
}


/* Make nicer cursor while hovering a summary */
details > summary {
    width: fit-content;
    cursor: pointer;
}


/* Make a nice style for the navigation items that are based on files */
.sidebar-nav > ul > li > a,
.sidebar-nav > ul > li > p > a {
    font-weight: 700 !important;
    margin: 0 !important;
    color: #364149 !important;
}

.sidebar-nav > ul > li:not(:first-child) {
    margin-top: 1em !important;
}

.app-sub-sidebar li:before {
    content: none;
}


/* Make a subsidiary warn class but for <div> and not <p> */
.markdown-section div.warn {
    background: rgba(66, 185, 131, .1);
    border-radius: 2px;
    padding: 1rem;
    margin: 1.2em 0;
}

.markdown-section div.warn ul {
    margin: 0;
}


.results-grid {
    --spacing: 5rem;

    display: grid;

    padding-top: 1rem;
    text-align: center;
    font-size: 1.1rem;
    font-weight: 600;
    text-decoration: underline var(--theme-color);
}

.results-grid > div > p {
    margin-top: 0;
    margin-bottom: 0.75rem;
}

.results-grid > div {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* Make the result grid responsive */
@media screen and (max-width: 900px) {
    .results-grid {
        grid-template-columns: 1fr;
    }

    .results-grid > div {
        padding-bottom: calc(var(--spacing) / 2);
    }

    .results-grid > div:not(:first-child) {
        border-top: 1px solid rgba(0, 0, 0, .07);
        padding-top: calc(var(--spacing) / 2);
    }
}

@media screen and (min-width: 901px) {
    .results-grid {
        grid-template-columns: 1fr 1fr;
    }

    .results-grid > div:nth-child(2n) {
        padding-left: calc(var(--spacing) / 2);
    }

    .results-grid > div:not(:last-child):not(:nth-child(2n)) {
        padding-right: calc(var(--spacing) / 2);
        border-right: 1px solid rgba(0, 0, 0, .07);
    }

    .results-grid > div:nth-child(-n+2):not(:nth-last-child(-n)) {
        padding-bottom: calc(var(--spacing) / 2);
        border-bottom: 1px solid rgba(0, 0, 0, .07);
    }

    .results-grid > div:first-child:nth-last-child(-n+2),
    .results-grid > div:nth-child(2):last-child {
        padding-bottom: 0 !important;
        border-bottom: none !important;
    }

    /* Make every row except first one having 5px top padding */
    .results-grid > div:nth-last-child(-n+2):not(:first-child):not(:nth-child(2)) {
        padding-top: calc(var(--spacing) / 2);
    }

    /* If the grid is unbalances, do a repartition of the grid column for the last row */
    .results-grid > div:nth-child(2n+1):nth-last-child(-n+2):last-child {
        grid-column: 1 / 3;
    }
}


/* Make all image non-draggable */
img {
    user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

/* Navbar styling : making the link less ugly on small screen */
.app-nav > ul {
    padding-inline-start: 5px;
}

/* Logo sizing */
#logo {
    width: 200px;
    height: auto;

    /* Set transition for size changes */
    transition: width 0.5s, height 0.5s;
}

/* Ensure that the logo is not covering the navbar */
@media screen and (max-width: 500px) {
    .cover-main {
        padding-top: 60px
    }

    #logo {
        width: 150px;
    }
}

/* Make code inside title about the same size as text */
h1 code,
h2 code,
h3 code,
h4 code,
h5 code,
h6 code {
    font-size: smaller;
}


/* Spacer element */
.spacing {
    padding-top: 6px;
}


/* Change elements spacing for readability */
#main h4 {
    margin-block-end: 0.9em;
}

#main h5 {
    margin-block-end: 0.5em;
}

#main h4 + p,
#main h5 + p {
    margin-block-start: 0;
    margin-top: 0;
}

#main ul {
    margin-block-start: 0;
}

/* Make the paragraph before the ul not having a margin */
#main p + ul {
    margin-block-start: -1.2em;
}

#main a strong {
    color: var(--theme-color,#42b983);
}

.docsify-tabs__content table td:last-child,
.docsify-tabs__content table th:last-child {
    width: 100%;
}

#ansible-volumes-table {
    margin-top: 15px;
}

#ansible-volumes-table code {
    margin-left: 0;
    padding-left: 0;
    line-height: 2.5
}

/* Make a table with equivalent columns width */
.markdown-section table.equalize-columns {
    display: table;
    table-layout: fixed;
    width: 100%;
}

.markdown-section table.equalize-columns tr th,
.markdown-section table.equalize-columns tr td {
    width: unset;
}

.markdown-section tr:nth-child(2n + 1) {
    background-color: #fff;
}

/* Improve visibility for questions */
question-container {
    display: block;
    padding: 12px 24px 12px 30px;
    border-bottom-right-radius: 2px;
    border-top-right-radius: 2px;
    position: relative;
    background-color: #f8f8f8;
    border-left: 4px solid var(--theme-color, #42b983);
    margin: 40px 0 0.6rem;
}

question-container::before {

    background-color: var(--theme-color, #42b983);
    border-radius: 100%;
    border-top-left-radius: 100%;
    border-top-right-radius: 100%;
    border-bottom-right-radius: 100%;
    border-bottom-left-radius: 100%;
    color: #fff;
    content: "\f5dc";
    font-family: "Font Awesome 6 Pro";
    font-size: 14px;
    font-weight: 700;
    left: -13px;
    line-height: 22px;
    position: absolute;
    height: 22px;
    width: 22px;
    text-align: center;
    top: 14px;
}

question-container .question-text,
question-container details.question summary,
question-container details.question::before,
question-container details.question::after,
question-container question-introducer {
    --question-fontsize: 1.15rem;
    color: #34495E;
    font-weight: 600;
    font-size: var(--question-fontsize, 1.15rem)
}

question-container .question-text {
    margin-top: 0;
}

question-container details.question summary,
question-container details.question::before,
question-container details.question::after {
    --question-fontsize: 1.15rem;
    color: #34495E;
    font-weight: 600;
    font-size: calc(var(--question-fontsize, 1.15rem) * 0.8)
}

question-container question-introducer {
    display: block;
    margin-bottom: 10px;
}

question-container details.question summary::marker {
    color: var(--theme-color, #42b983);
}

question-container details.question summary:hover {
    -webkit-text-decoration: underline var(--theme-color, #42b983);
    text-decoration: underline var(--theme-color, #42b983);
}

.sidebar question-introducer .fa, 
.sidebar question-introducer .fa-brands,
.sidebar question-introducer .fa-classic,
.sidebar question-introducer .fa-duotone,
.sidebar question-introducer .fa-light,
.sidebar question-introducer .fa-regular,
.sidebar question-introducer .fa-sharp,
.sidebar question-introducer .fa-sharp-solid,
.sidebar question-introducer .fa-solid,
.sidebar question-introducer .fa-thin,
.sidebar question-introducer .fab,
.sidebar question-introducer .fad,
.sidebar question-introducer .fal,
.sidebar question-introducer .far,
.sidebar question-introducer .fas,
.sidebar question-introducer .fass,
.sidebar question-introducer .fat {
    margin-right: 0.5em;
}

question-container question-introducer,
question-container question-introducer .fa, 
question-container question-introducer .fa-brands,
question-container question-introducer .fa-classic,
question-container question-introducer .fa-duotone,
question-container question-introducer .fa-light,
question-container question-introducer .fa-regular,
question-container question-introducer .fa-sharp,
question-container question-introducer .fa-sharp-solid,
question-container question-introducer .fa-solid,
question-container question-introducer .fa-thin,
question-container question-introducer .fab,
question-container question-introducer .fad,
question-container question-introducer .fal,
question-container question-introducer .far,
question-container question-introducer .fas,
question-container question-introducer .fass,
question-container question-introducer .fat {
    color: var(--theme-color, #42b983);
    line-height: 1.6rem;
    
    -webkit-text-decoration: underline var(--theme-color, #42b983);
    text-decoration: underline var(--theme-color, #42b983);
}

question-container > *:first-child {
    margin-top: 0 !important;
    line-height: 1;
}

question-container code,
question-container pre {
    background-color: #f0f0f0 !important;
}


.sidebar-nav .question-link {
    white-space: pre;
}

.docsify-tabs__tab {
    cursor: pointer;
}


.markdown-section pre {
    padding: 0;
}

.markdown-section pre code {
    padding-left: 1.4rem;
    padding-right: 1.4rem;
}

::-webkit-scrollbar {
    height: 0.5rem;
    width: 0.5rem;
}

::-webkit-scrollbar-thumb {
    --tw-border-opacity: 1;
    background-color: rgba(197,197,213,.8);
    border-color: rgba(255,255,255,.8);
    border-radius: 9999px;
    border-width: 1px;
}

::-webkit-scrollbar-track {
    background-color: transparent;
    border-radius: 9999px;
}

.sidebar-nav {
    --transition-duration: 0.2s;
}

.sidebar ul li a {
    text-decoration-color: var(--theme-color, #42b983) !important;
}

.sidebar-nav ul.app-sub-sidebar {
    position: relative;
    margin-left: 0;
    padding-left: 15px;
    transition: all var(--transition-duration);
}
.sidebar-nav ul.app-sub-sidebar::before,
.sidebar-nav ul.app-sub-sidebar::after {
    content: "";
    position: absolute;
    left: 0;
    background-color: var(--theme-color, #42b983);
}

/* Create a line on side of "sub tree" in sidebar */
.sidebar-nav ul.app-sub-sidebar::before {
    top: -0.5em;
    bottom: 0;
    width: 1px;
    transition: all var(--transition-duration);
}

.sidebar-nav ul.app-sub-sidebar::after {
    bottom: 0;
    height: 1px;
    width: 0;
    transition: all var(--transition-duration);
}

.sidebar-nav li:has(+ ul.app-sub-sidebar > li a:hover):not(:has(+ ul.app-sub-sidebar > ul.app-sub-sidebar)) a {
    text-decoration: underline;    
    text-decoration-thickness: 2px;
}

/* Make everything more visible when hovering the elements */
.sidebar-nav li:has(a:hover) + ul.app-sub-sidebar::before,
.sidebar-nav ul.app-sub-sidebar:has(> li a:hover):not(:has(> ul.app-sub-sidebar))::before,
.sidebar-nav li > a:hover + ul.app-sub-sidebar::before {
    top: -1em;
    width: 2px;
}

.sidebar-nav li:has(+ ul.app-sub-sidebar) a,
.sidebar-nav li:has(> ul.app-sub-sidebar) > a  {
    /* Set 2px underline */
    text-decoration-thickness: 2px;
}

.sidebar-nav li:has(a:hover) + ul.app-sub-sidebar::after,
.sidebar-nav ul.app-sub-sidebar:has(> li a:hover):not(:has(> ul.app-sub-sidebar))::after,
.sidebar-nav li > a:hover + ul.app-sub-sidebar::after {
    width: 0.5em;
    height: 2px;
}